wp-content/uploads/
wp-content/upgrade/
wp-config.php
wp-content/themes/solacards/
wp-content/plugins/advanced-custom-fields-pro/
wp-content/plugins/akismet/
wp-content/plugins/classic-editor/
wp-content/plugins/woo-authorize-net-gateway-aim/
wp-content/plugins/woocommerce/
wp-content/plugins/wp-migrate-db/
